@using Microsoft.AspNet.Identity
@{
    string controller = (string)ViewContext.RouteData.Values["Controller"];
    string action = (string)ViewContext.RouteData.Values["Action"];
    int countItems = @ViewBag.BasketItems;
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="@((@controller == "Basket") ? "active" : "")">
                @Html.ActionLink("Basket (" + countItems + ")", "Index", "Basket")
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">@User.Identity.GetUserName() <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="@Url.Action("Index", "Orders")"><span class="glyphicon glyphicon-file" aria-hidden="true" style="padding-right: 12px;"></span>Your Orders</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Manage")"><span class="glyphicon glyphicon-tasks" aria-hidden="true" style="padding-right: 12px;"></span>Account Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <span class="glyphicon glyphicon-off" aria-hidden="true" style="padding-right: 12px;"></span> Log off
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="@((@controller == "Account") && (@action == "Register") ? "active" : "")">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})
        </li>
        <li class="@((@controller == "Account") && (@action == "Login") ? "active" : "")">
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})
        </li>
    </ul>
}
