@model EShop.Models.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "ShoppingCart", FormMethod.Post, new {role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.CartItems.Count == 0)
        {
            <tr>
                <th>Basket is empty. Add some items and come back.</th>
                <th></th>
                <th></th>
            </tr>
        }
        else
        {
                for (int i = 0; i < Model.CartItems.Count(); i++)
                {
                <tr>
                    <td>
                        <h3>@Html.DisplayFor(model => Model.CartItems[i].Product.Name)</h3>
                        <h6>
                            <span class="stock">@Html.DisplayFor(model => Model.CartItems[i].Product.StockTotal)</span> left in stock
                        </h6>
                        [ @Html.ActionLink("Remove", "RemoveFromCart", "ShoppingCart", new { Model.CartItems[i].Product.Id }, new { @class = "" }) ]
                    </td>
                    <td style="padding-top: 26px;">
                        <h4>@Html.DisplayFor(model => Model.CartItems[i].Product.Price)</h4>
                    </td>
                    <td style="padding-top: 26px;">
                        @Html.TextBoxFor(model => Model.CartItems[i].Quantity, new {@class = "form-control"})
                        @Html.HiddenFor(model => Model.CartItems[i].ProductId)
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-offset-7 col-xs-12">
            <input type="submit" class="btn btn-primary" value="Update">
        </div>
    </div>
}

<div class="row checkout">
    <div class="col-sm-3 col-md-2 col-sm-offset-4 col-xs-12">
        <h4>
            <strong>Total:</strong> @Html.DisplayFor(model => model.CartTotal)
        </h4>
    </div>
    <div class="col-xs-1">
        <a href="@Url.Action("RemoveFromCart", "ShoppingCart")" class="btn btn-success">
            <span class="glyphicon glyphicon-ok" aria-hidden="true" style="padding-right: 12px;"></span>Proceed to Checkout
        </a>
    </div>
</div>
