@model EShop.Models.CheckoutViewModel
@{
    ViewBag.Title = "Checkout";
}
<h2>@ViewBag.Title</h2>

<hr/>

@using (Html.BeginForm("Index", "Checkout", FormMethod.Post, new {role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ValidationSummary")

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <h3>Shipping Address</h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Customer.FullName):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Customer.FullName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Customer.AddressLine1):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Customer.AddressLine1)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Customer.AddressLine2):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Customer.AddressLine2)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Customer.Town):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Customer.Town)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Customer.Postcode):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Customer.Postcode)
                </dd>
            </dl>
        </div>

        <div class="col-md-4 col-sm-6">
            <h3>Warehouse</h3>
            @Html.DropDownListFor(
                model => model.WarehouseId, Model.Warehouses, "--- Select Warehouse ---", new {@class = "form-control"})
        </div>

        <div class="col-md-4 col-sm-6">
            <h3>Order Summary</h3>
            <div class="row">
                <div class="col-sm-6">
                    <h4>
                        <strong>Total:</strong> @Html.DisplayFor(model => model.OrderTotal)
                    </h4>
                </div>
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" style="padding-right: 12px;"></span> Buy now
                    </button>
                </div>
            </div>
        </div>
    </div>
}

<hr/>

<div class="row">
    <div class="col-xs-12">
        <h3>Order Items</h3>
        <table class="table table-hover table-responsive table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Items</th>
                <th>Unit Price</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var orderItem in Model.OrderItems)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Products", new {id = orderItem.Product.Id})">
                            @Html.DisplayFor(modelItem => orderItem.Product.Name)
                        </a>
                    </td>
                    <td>
                        x @Html.DisplayFor(modelItem => orderItem.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => orderItem.Product.Price)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
